APScheduler==3.1.0
Django==1.9.10
dj-database-url==0.4.1
django-allauth==0.25.2
django-csp==2.0.3
django-extensions==1.6.7
django-pipeline==1.6.8
djangorestframework==3.3.3
https://github.com/groovecoder/django-rest-swagger/archive/7446fa8.zip#egg=django-rest-swagger
django-waffle==0.11
dnslib==0.9.6
ecdsa==0.13
gunicorn==19.5.0
newrelic==2.64.0.48
psycopg2==2.6.1
python-decouple==3.0
python-jose==0.6.1
raven==5.17.0
requests==2.10.0
whitenoise==3.1
