Django==1.9.3
dj-database-url==0.4.0
django-allauth==0.24.1
django-pipeline==1.6.6
djangorestframework==3.3.2
django-rest-swagger==0.3.5
django-waffle==0.11
dnslib==0.9.6
ecdsa==0.13
gunicorn==19.4.5
newrelic==2.60.0.46
psycopg2==2.6.1
python-decouple==3.0
requests==2.9.1
whitenoise==2.0.6
