Django==1.9.2
dj-database-url==0.4.0
django-allauth==0.24.1
django-pipeline==1.6.4
djangorestframework==3.3.2
django-rest-swagger==0.3.5
dnslib==0.9.6
gunicorn==19.4.5
newrelic==2.60.0.46
psycopg2==2.6.1
python-decouple==3.0
whitenoise==2.0.6
