html {
    min-height: 100%;
}

body {
    font-family: Fira Sans;
    margin: 0 0 100px;
}

.top-bar {
    background-color: #424F5A;
    color: #fff;
}

.top-bar a {
    color: #fff;
}

.top-bar ul {
    background-color: #424F5A;
    color: #fff;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

footer {
    height: 100px;
    width: 100%;
}
