.sign-in-tooltip {
    transition: transform 300ms, opacity 300ms;
    transform: translateY(-1em);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: inline-block;
}
.sign-in-area:hover .sign-in-tooltip {
    transform: translateY(0);
    opacity: 1;
}
