html {
    min-height: 100%;
}

body {
    font-family: "Fira Sans";
    margin: 0 0 100px;
}

main {
    margin: 20px auto;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-bar {
    background: #1e1e21;
    background-image: -webkit-radial-gradient(top left,ellipse farthest-side,#00549e 0,rgba(0,0,0,0) 100%);
    background-image: radial-gradient(ellipse farthest-side at top left,#00549e 0,rgba(0,0,0,0) 100%);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: top center;
}

.top-bar a {
    color: #fff;
}

.top-bar-title a::before {
    background-image: url('../img/firefox-logo.png');
    background-size: 38px;
    content: ' ';
    display: block;
    float: left;
    height: 38px;
    margin-right: 10px;
    width: 38px;
}

.top-bar-title a {
    font-weight: bold;
    position: relative;
    top: 6px;
}

.breadcrumbs a {
    color: #00549E;
}

.button {
    background-color: #00549E;
    margin: 0;
}
