/* Override the dropdown menu arrow to make it white */
#push-dashboard .top-bar a::after {
    border-color: #fff transparent transparent;
}

nav#main-navigation {
    float: left;
    margin-right: 20px;
}

nav#account-management {
    float: right;
}
