{% load i18n %}
{% load pipeline %}
{% load socialaccount %}
{% load staticfiles %}
<!doctype html>
<html id="push-dashboard" lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% trans "Firefox Developer Services Dashboard shows how your apps and sites are using Mozilla services." %}">
        <title>{% trans "Firefox Developer Services Dashboard" %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
        <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% stylesheet 'dashboard' %}
        {% block stylesheets %}{% endblock %}
        {% include "includes/google_analytics.html" %}
    </head>
    <body>
      <div data-sticky-container>
        <div class="top-bar">
            <div class="row">
                <div class="top-bar-title">
                    <h1><a href="/">{% trans "Firefox Developer Services Dashboard" %}</a></h1>
                </div>
                <div class="top-bar-right">
                    <nav id="main-navigation">
                        <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
                            <li>
                            <a href="{% url 'push.landing' %}">{% trans "Push" %}</a>
                                {% if request.user.is_authenticated %}
                                    <ul class="menu">
                                        <li><a href="{% url 'push.list' %}">{% trans "Manage applications" %}</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <nav id="account-management">
                        <ul class="menu">
                            {% if request.user.is_authenticated %}
                                {% get_social_accounts request.user as accounts %}
                                <li>
                                    <a href="/">{{ request.user.username }}</a>
                                </li>
                                <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                            {% else %}
                                <li>
                                {% include "includes/fxa_sign_in_link.html" %}
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <main class="row">
        <nav aria-label="{% trans "You are here:" %}">
                <ul class="breadcrumbs">
                    {% block breadcrumbs %}{% endblock %}
                </ul>
            </nav>
            {% if messages %}
                {% for message in messages %}
                <div class="callout {{ message.tags }}" data-closable>
                    {{ message }}
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="row">
                <div class="top-bar-right">
                    <a href="https://github.com/mozilla-services/push-dev-dashboard" target="_blank">{% trans "Source on GitHub" %}</a> | <a href="https://github.com/mozilla-services/push-dev-dashboard/issues" target="_blank">{% trans "Issues" %}</a>
                </div>
            </div>
        </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
      <script>
          $(document).foundation();
          window.dashboard = {};
      </script>
      {% javascript 'dashboard' %}
      <script src="{{ settings.PONTOON_HOST }}/static/js/pontoon.js"></script>
    </body>
</html>
