{% extends "dashboard/base.html" %}
{% load i18n %}
{% load timetags %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'push.landing' %}">Push</a></li>
<li><a href="{% url 'push.list' %}">{% trans "Applications" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{{ app.name }}</li>
{% endblock %}

{% block content %}
    <h2>{{ app.name }}</h2>
    <dl id="push-app-info">
        <dt>VAPID {% trans "Key" %}</dt>
        <dd>{{ app.vapid_key }}</dd>
        <dt>VAPID {% trans "Key Status" %}</dt>
        <dd>
            {{ app.vapid_key_status }}
            {% if app.can_validate %}
            <a class="validate button" href="{% url 'push.validation' app.id %}">{% trans "Validate" %}</a>
            {% endif %}
        </dd>
    </dl>
    <a class="alert button" href="{% url 'push.deletion' app.id %}">{% trans "Delete" %}</a>
    {% if app.recording %}
    <h3>{% trans "Messages" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Timestamp (UTC)" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "TTL" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for message in app_messages %}
            <tr class="push-message">
                <td>{{ message.id|truncatechars:20 }}</td>
                <td>{{ message.timestamp|print_api_timestamp }}</td>
                <td>{{ message.size }}</td>
                <td>{{ message.ttl }}</td>
            </tr>
        {% empty %}
        <tr><td colspan="4">{% trans "No messages to display." %} {% trans "It may take up to 10 minutes to show messages after recording." %}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
