{% extends "dashboard/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'push.landing' %}">Push</a></li>
<li><a href="{% url 'push.applications' %}">Applications</a></li>
<li><span class="show-for-sr">Current: </span>{{ app.name }}</li>
{% endblock %}

{% block content %}
    <h2>{{ app.name }}</h2>
    <dl>
        <dt>VAPID Key</dt>
        <dd>{{ app.vapid_key }}</dd>
        <dt>VAPID Key Status</dt>
        <dd>
            {{ app.vapid_key_status }}
            {% if app.can_validate %}
                <a class="validate button" href="{% url 'push.validate' app.id %}">Validate</a>
            {% endif %}
        </dd>
    </dl>
    {% if app.recording %}
    <h3>Messages</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                <th>Size</th>
                <th>TTL</th>
            </tr>
        </thead>
        <tbody>
        {% for message in app_messages %}
            <tr>
                <td>{{ message.id|truncatechars:20 }}</td>
                <td>{{ message.timestamp }}</td>
                <td>{{ message.size }}</td>
                <td>{{ message.ttl }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="4" class="center">No messages to display</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
