{% extends "dashboard/base.html" %}
{% load i18n %}
{% load waffle_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'push.landing' %}">{% trans "Push" %}</a></li>
<li><span class="show-for-sr">{% trans "Current:"%}</span>{% trans "Applications" %}</li>
{% endblock %}

{% block content %}
    {% switch "domains_enabled" %}
        <section id="domains">
            <section id="domains-list">
                <h2>Domains</h2>
                {% if domains %}
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Domain" %}</th>
                                <th>{% trans "Status" %}</th>
                                <th>{% trans "Token" %}</th>
                                <th>{% trans "Validated" %}</th>
                                <th>{% trans "Expires" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for domain in domains %}
                                <tr>
                                    <td>{{ domain.domain }}</td>
                                    <td>{{ domain.status }}
                                        {% if domain.status == "valid" %}
                                            <i class="fa fa-check"></i>
                                        {% elif domain.status == "pending" %}
                                            <i data-tooltip aria-haspopup="true" class="fa fa-clock-o has-tip" data-disable-hover="false"
                                                title="It may take up to 10 minutes to validate your domain."></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ domain.token }}
                                        <i data-tooltip aria-haspopup="true" class="fa fa-info-circle has-tip" data-disable-hover="false"
                                            title="Add this value to a 'mozilla-services' TXT host record on your DNS"></i>
                                    </td>
                                    <td>{{ domain.validated }}</td>
                                    <td>{{ domain.expires }}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No domains have been registered. Use the form below to add some.</p>
                {% endif %}
            </section> {# domains-list #}

            <section id="add-domain">
                <h2>Add Domain</h2>
                <form action="{% url 'domainauthorization-list' %}" method="POST">
                    {% csrf_token %}
                    {{ domain_auth_form }}
                    <input type="submit" class="button" value="Add">
                </form>
            </section> {# add-domain #}
        </section> {# domains #}
    {% endswitch %}

    <section id="push-applications">
        <section id="push-applications-list">
            <h2>{% trans "Push Applications" %}</h2>
            {% if push_apps %}
                <table>
                    <thead>
                        <tr>
                            <th>{% trans "Application Name" %}</th>
                            <th>VAPID {% trans "Key" %}</th>
                            <th>VAPID {% trans "Key Status" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app in push_apps %}
                            <tr>
                                <td>
                                    {% if app.recording %}
                                        <a href="{% url 'push.details' app.id %}">{{ app.name }}</a>
                                    {% else %}
                                        {{ app.name }}
                                    {% endif %}
                                </td>
                                <td>{{ app.vapid_key|truncatechars:20 }}</td>
                                <td>
                                    {{ app.vapid_key_status }}
                                </td>
                                <td>
                                    {% if app.can_validate %}
                                    <a class="button" href="{% url 'push.validation' app.id %}">{% trans "Validate" %}</a>
                                    {% endif %}
                                    <a class="alert button" href="{% url 'push.deletion' app.id %}">{% trans "Delete" %}</a>
                                </td>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <p>{% trans "No push applications have been registered. Use the form below to add some." %}</p>
            {% endif %}
        </section> {# push-applications-list #}

        <section id="add-push-application">
            <h2>{% trans "Add Push Application" %}</h2>
            <div class="row">
                <div class="large-6 columns">
            <form id="push-app-add" action="{% url 'push.list' %}" method="POST" autocomplete="off">
                {% csrf_token %}

                <label for="{{ push_app_form.name.auto_id }}">{% trans "Application name:" %}</label>
                {{ push_app_form.name }}

                <label for="{{ push_app_form.vapid_key.auto_id }}">VAPID {% trans "key:" %}</label>
                <span class="question-mark-tip has-tip [tip-top]" data-tooltip="data-tooltip" aria-haspopup="true" title='{% trans 'The public key that the application server sends for VAPID JWT validation. This should be the exact value sent in the "p256ecdsa" parameter of the Crypto-Key header. See the VAPID Draft for more details.' %}'></span>
                {{ push_app_form.vapid_key }}

                <input type="submit" class="button" value="{% trans "Add" %}">
            </form>
                </div>
                <div class="large-6 columns callout secondary">
                    <p>{% trans "To monitor your push application messages, your application server must implement VAPID. VAPID allows your application server to submit information about itself to the Mozilla push service, which improves application stability, exception handling, and security." %}</p>
                    <p>{% blocktrans with vapid_href="https://tools.ietf.org/html/draft-thomson-webpush-vapid-02" %}See <a href="{{ vapid_href }}" target="_blank">the VAPID Draft for more details</a>.{% endblocktrans %}</p>
                </div>
            </div>
        </section> {# add-push-application #}
    </section> {# push-applications #}
{% endblock %}
