{% extends "dashboard/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'push.landing' %}">{% trans "Push" %}</a></li>
<li><a href="{% url 'push.list' %}">{% trans "Applications" %}</a></li>
<li><a href="{% url 'push.details' app.id %}">{{ app.name }}</a></li>
<li><span class="show-for-sr">{% trans "Current:" %} </span>{% trans "Validate" %}</li>
{% endblock %}

{% block content %}
    {% if not app.valid %}
    <p>{% trans "To verify you own the signing key for your app, please sign the following token using the same key you use to sign this application's VAPID JWT, and paste the url-safe, base64-encoded value below." %}</p>
        <dl>
            <dt>{% trans "Token:" %}</dt>
            <dd><input id="vapid-key-token" type="text" value="{{ app.vapid_key_token }}" readonly></input></dd>
        </dl>

        <form id="vapid-validation" action="{% url 'push.validation' app.id %}" method="POST">
            {% csrf_token %}

            <label for="{{ vapid_validation_form.signed_token.auto_id }}">{% trans "URL-safe, base64-encoded signed token:" %}</label>
            {{ vapid_validation_form.signed_token }}

            <input type="submit" class="button track-btn" data-category="Push Applications" data-action="Validate" value="{% trans "Validate" %}">
        </form>
    {% else %}
        <p>{% trans "This application has already been validated." %}</p>
        <a class="button" href="{% url 'push.details' app.id %}">{% trans "View application" %}</a>
    {% endif %}
{% endblock %}
